* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg circle:hover,
svg text:hover {
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

svg {
  width: 100%;
  height: 100%;
  display: block;
}
